body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid rgb(89, 48, 130);
  border-radius: 10px;
}


button {
  background-color: rgb(89, 48, 130);
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(66, 15, 66);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1{  text-shadow: 3px 3px 10px #000000;
  color: snow;
  font-size: 50px;

}

li {
  background-color: rgb(89, 48, 130);
  color: white;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.logo {
  width: 200px;
  height: auto;
}

@media print {
  button {
    display: none;
  }
}

@media print {
    #new-name {
        display: none;
    }
}

@media print {
    #new-name, #add-name-btn {
        display: none;
    }
}

@media print {
    body {
        width: 210mm;
        height: 297mm;
        overflow: hidden;
        transform: scale(0.98);
        transform-origin: top;
    }
}
@media print {
  body {
    zoom: 90%; /* Adjust this value as needed to fit the page */
  }
  #player-list {
    page-break-inside: avoid; /* Avoid breaking the list across multiple pages */
  }
}
@media print {
  body {
    zoom: 90%; /* Adjust this value as needed to fit the page */
  }
  #player-list {
    page-break-inside: avoid; /* Avoid breaking the list across multiple pages */
  }
  #choose-colors, #choose-logo {
    display: none; /* Hide these sections when printing */
  }
}
@media print {
  #non-printable-content {
    display: none;
  }
}