body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid rgb(89, 48, 130);
  border-radius: 10px;
}

h1 {
  color: rgb(66, 15, 66);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  background-color: rgb(89, 48, 130);
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(66, 15, 66);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: rgb(89, 48, 130);
  color: white;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.logo {
  width: 100px;
  height: auto;
}

@media print {
  button {
    display: none;
  }
}
